
.footer {
  font-size: 10px; 
}

.footer-heading {
  font-size: .7rem; 
}

.footer-content {
  display: none;
}

.footer-heading:hover + .footer-content {
  display: block;
}

.list-unstyled li:hover {
    background-color: #6c757d; 
    transition: background-color 0.3s ease;
  }
